.flightplan-search-form {

  > form {
    margin-bottom: 0em;

    * md-input-container {
      margin-bottom: 0em;
    }

    > .bottom-panel {
      padding-left: 10px;
    }
  }

  * button {
    margin-top: 0em;
  }
}

md-card + md-card {
  margin-top: 0px;
}

.flightplan-details {
  * .portpair {
    * .icao {
      margin: 0em;
    }
  }
}

.angular-google-map-container {
  height: 100%;
}
